body{
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background: #c1c3c3;

}
.box{
  width: 400px;
  padding: 60px;
  border: 3px solid #3abc99;
  border-radius: 40px;
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-40%,-40%);
  background: #191919;
  text-align: center;
}
.box h1{
  color: white;
  text-transform: uppercase;
  font-weight: 900
}
.box input[type = "text"],.box input[type = "password"]{
  border:0;
  background: none;
  display: block;
  margin: 20px auto;
  text-align: center;
  border: 2px solid #3abc99;
  padding: 14px 10px;
  width: 200px;
  outline: none;
  color: white;
  border-radius: 22px;
  transition: 1s;
}
.box input[type = "text"]:focus,.box input[type = "password"]:focus{
  width: 250px;
  border-color: #10c73e;
}
.box input[type = "submit"]{
  border:1;
  background: none;
  display: block;
  margin: 20px auto;
  text-align: center;
  border: 2px solid #3abc99;
  padding: 14px 40px;
  outline: none;
  color: white;
  border-radius: 15px;
  transition: 1s;
  cursor: pointer;
}
.box input[type = "submit"]:hover{
  background: #3abc99;
  color: black
}

.navbar{
  overflow = hidden;
  background = #333;
}

.navbar a{
  float: left;
  font-size: 16px;
  color: #fff;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.dropdown{
  float:  left;
  overflow: hidden;
}

.dropdown .dropbtn{
  font-size: 16px;
  border: none;
  outline: none;
  color: #fff;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}
