body{
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background: #ffffff;

}
.box{
  width: 400px;
  padding: 60px;
  border: 3px solid #349682;
  border-radius: 40px;
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-40%,-40%);
  background: #191919;
  text-align: center;
}
.box h1{
  color: white;
  text-transform: uppercase;
  font-weight: 900
}
.box input[type = "text"],.box input[type = "password"]{
  border:0;
  background: none;
  display: block;
  margin: 20px auto;
  text-align: center;
  border: 2px solid #349682;
  padding: 14px 10px;
  width: 200px;
  outline: none;
  color: #fff;
  border-radius: 22px;
  transition: 1s;
}
.box input[type = "text"]:focus,.box input[type = "password"]:focus{
  width: 250px;
  border-color: #FFFFFF;
}
.box input[type = "submit"]{
  border:1;
  background: none;
  display: block;
  margin: 20px auto;
  text-align: center;
  border: 2px solid #349682;
  padding: 14px 40px;
  outline: none;
  color: #fff;
  border-radius: 15px;
  transition: 1s;
  cursor: pointer;
}
.box input[type = "submit"]:hover{
  background: #349682;
  color: #000;
}

.navbar{
  overflow: hidden;
  background: #333;
}

.navbar a{
  float: left;
  font-size: 16px;
  color: #c9c9c9;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.dropdown{
  float:  left;
  overflow: hidden;
}

.dropdown .dropbtn{
  font-size: 16px;
  border: none;
  outline: none;
  color: #c9c9c9;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.navbar a:hover, .dropdown:hover .dropbtn{
  background-color: #ff6363;
}

.dropdown-content{
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-with: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a{
  float: none;
  color: #000;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover{
  background-color: #ddd;
}

.dropdown:hover .dropdown-content{
  display: block;
}
